.preview {
    &__large {
        text-align: center;
    }
    &__small {
        text-align: center;
        &__items {
            display: flex;
            justify-content: center;
            &__item {
                width: 100px;
                height: 100px;
                float: left;
                & .active-picture {
                    border: 2px solid $mainDarkGrey;
                }
            }
        }
    }
}